body {
    font-family: Arial, sans-serif;
    background-image: url('https://www.wallpapertip.com/wmimgs/231-2312430_digital-world-map-4k-creative-world-map-concept.jpg');
    background-size: cover; /* Remplit l'arrière-plan sans déformer l'image */
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-attachment: fixed; /* Fixe l'image de fond pour qu'elle reste en place lors du défilement */
}


.container {
    width: 30%; /* Réduire la largeur du conteneur */
    margin: 250px auto;
    background-color: rgba(255, 255, 255, 0.671); /* Utilisation d'une couleur de fond semi-transparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px; /* Ajouter un espacement en bas du titre */
}

.inscription-form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #2a5706;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3a7712;
}
