* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    background-image: url('https://wallpaper.forfun.com/fetch/ad/ad89c6ce6e7cb791bbad0c38a40fe749.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}


.container,
.login-container {
    width: 300px;
    margin: auto; /* Centrer horizontalement */
    margin-top: 100px; /* Garder uniquement la marge supérieure */
    background-color: rgba(255, 255, 255, 0.671);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: absolute; /* Ajouter une position absolue */
    top: 35%; /* Aligner le haut du conteneur au centre vertical */
    left: 50%; /* Aligner la gauche du conteneur au centre horizontal */
    transform: translate(-50%, -50%); /* Déplacer le conteneur de moitié de sa largeur et de moitié de sa hauteur vers le haut et vers la gauche */
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    text-align: left;
    margin-top: 10px;
}

p {
    color: red;
    width: 500px;
}

table {
    border-collapse: collapse;
    width: 50%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

h3 {
    text-align: right;
}

.button-container {
    margin-top: 20px; /* Ajoute un espace au-dessus des boutons */
}

.button-container button {
    margin-right: 10px; /* Ajoute un espace à droite de chaque bouton */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.inscription-form {
    margin-top: 20px;
}
.form-group {
    margin-bottom: 20px;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}
#logout-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #8f681a;
    border: none;
    border-radius: 20px; /* Augmentation de la taille de la bulle */
    color: #ffffff;
    padding: 15px 30px; /* Augmentation de la taille du bouton */
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px; /* Augmentation de la taille du texte */
}

#logout-button:hover {
    background-color: #06283D;
}

/* Style par défaut du bouton de connexion */
#login-button {
    background-color: #4CAF50; /* Couleur par défaut du bouton */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Style du bouton lorsqu'il est désactivé */
#login-button:disabled {
    background-color: grey; /* Le bouton devient gris */
    cursor: not-allowed; /* Le curseur devient un symbole d'interdiction */
}
